<!DOCTYPE html>
    <html  xmlns:th="http://www.thymeleaf.org">
        
                <head th:insert="fragments/header.html :: head"> </head>
                <head><script src="../top.js"></script></head>
                    
        
                <body>
                    <header th:insert="fragments/header.html :: header"> </header>
        
                        <div th:insert="fragments/header.html :: div.sidenav"></div>
                
                        <div id="corps" class="no">
                            <!--code here-->
                            <form method="post" th:action="@{/create}" th:object="${createForm}">

                                <input class="un" id="search" type="text" align="center" placeholder="titre" name="titre">
                                <input class="un" type="text" align="center" placeholder="point" name="point"> 
                                <input class="un" id="image" type="text" align="center" placeholder="link" name="link">
                                <input class="un" type="text" align="center" placeholder="id_categorie" name="id_categorie">
                                <button onclick="searchImage();" type="button" >Search image</button>
                                <button type="submit" class="submit" align="center">Create</button>
                
                                        <td>
                                            <a href="index">Home</a>
                                        </td>
                                <br>
                                <div class="question">
                                        <div id="q1"><input type="text" placeholder="First element" name="q1"><button type="button" onclick="hideShow(2);">Add+</button></div>
                                        <div id="q2"><input type="text" placeholder="Second element" name="q2"><button type="button" onclick="hideShow(3);">Add+</button></div>
                                        <div id="q3"><input type="text" placeholder="Third element" name="q3"><button type="button" onclick="hideShow(4);">Add+</button></div>
    
                                        <div id="q4"><input type="text" placeholder="An element" name="q4"><button type="button" onclick="hideShow(5);">Add+</button></div>
                                        <div id="q5"><input type="text" placeholder="An element" name="q5"><button type="button" onclick="hideShow(6);">Add+</button></div>
                                        <div id="q6"><input type="text" placeholder="An element" name="q6"><button type="button" onclick="hideShow(7);">Add+</button></div>
    
                                        <div id="q7"><input type="text" placeholder="An element" name="q7"><button type="button" onclick="hideShow(8);">Add+</button></div>
                                        <div id="q8"><input type="text" placeholder="An element" name="q8"><button type="button" onclick="hideShow(9);">Add+</button></div>
                                        <div id="q9"><input type="text" placeholder="An element" name="q9"><button type="button" onclick="hideShow(10);">Add+</button></div>
    
                                        <div id="q10"><input type="text" placeholder="An element" name="q10" ><button type="button" onclick="hideShow(11);">Add+</button></div>
                                        <div id="q11"><input type="text" placeholder="An element" name="q11" ><button type="button" onclick="hideShow(12);">Add+</button></div>
                                        <div id="q12"><input type="text" placeholder="An element" name="q12" ><button type="button" onclick="hideShow(13);">Add+</button></div>
    
                                        <div id="q13"><input type="text" placeholder="An element" name="q13" ></div>
                                </div>
                                
                            </form>>
                        </div>
                    
                    <footer th:insert="fragments/header.html :: footer"> </footer>
        
                </body>
        
    </html>