<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:insert="fragments/header.html :: head"> </head>

  <body>
      <header th:insert="fragments/header.html :: header"> </header>

        <div th:insert="fragments/header.html :: div.sidenav"></div>

        <div id="corps" class="no">
        <!--<div th:if="${not #lists.isEmpty(top)}"> -->
          <tr th:each="top : ${index}">
            <td th:text="${top.titre}"></td>
            <td th:text="${top.point}"></td>
          </tr>
         <!--</div>-->
          <!--code here-->
        </div>

      <footer th:insert="fragments/header.html :: footer"> </footer>

  </body>
</html>
