<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:insert="fragments/header.html :: head"> </head>

  <body onload="num()"> 
      <header th:insert="fragments/header.html :: header"> </header>

        <div th:insert="fragments/header.html :: div.sidenav"></div>

        <div id="corps" class="no">

            <div class="container">
                <div class="jumbotron">
                    <img src="../images/icon.png" height="45px"><h1 class="display-4">Top<span> Rankings</span></h1>     
                </div> 
            </div>

        <div id="affichage" th:if="${not #lists.isEmpty(top)}">

          <div th:each="top : ${top}" class="container classement">
            <div class="numero display-5">1</div>
            <div class="info">
              <div>
                  <div th:style="'background-image: url('+ ${top.link} + ')'"></div>
              </div>
              <div><p class="display-5" th:text="'Top '+${top.titre}"></p></div>
            </div>
            <div class="action">
                <a class="fas fa-poll"></a>
                <a class="fas fa-person-booth" th:href="@{/vote/__${top.id}__}"></a>
            </div>
          </div>

        </div>
          <!--code here-->
        </div>

      <footer th:insert="fragments/header.html :: footer"> </footer>

  </body>
</html>
