<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:insert="fragments/header.html :: head"> </head>

  <body>
      <header th:insert="fragments/header.html :: header"> </header>

        <div th:insert="fragments/header.html :: div.sidenav"></div>

        <div id="corps" class="no">
            <div class="container">
                <div class="jumbotron">
                    <img src="../images/icon.png" height="45px"><h1 class="display-4">Top<span> Rankings</span></h1>     
                </div> 
            </div>
        <div th:if="${not #lists.isEmpty(top)}">

          <div class="top" th:each="top : ${top}">
            <img th:src="@{${top.link}}"/>
            <a th:text="'Titre '+${top.titre}" th:href="@{/vote/__${top.id}__}"></a>
            <div th:text="'Points '+${top.point}"></div>
          </div>

          <div class="container classement">
            <div class="numero"></div>
            <div class="info">
              <img src="" >
            </div>
            <div class="action">
                <i class="fas fa-poll"></i>
                <i class="fas fa-person-booth"></i>
            </div>
          </div>

        </div>
          <!--code here-->
        </div>

      <footer th:insert="fragments/header.html :: footer"> </footer>

  </body>
</html>
