
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

        <html>

        <head>

            <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

            <title>Login</title>

        </head>

        <body>
            <form method="post" th:action="@{/login}" th:object="${loginForm}">

                <input class="un" type="text" align="center" placeholder="pseudo" name="pseudo">
                <input class="un" type="text" align="center" placeholder="password" name="password"> 
                <button type="submit" class="submit" align="center">Login</button>

                        <td>
                            <a href="index">Home</a>
                        </td>

            </form>>

        </body>

        </html>