<!DOCTYPE html>
    <html  xmlns:th="http://www.thymeleaf.org">
          
                <head th:insert="fragments/header.html :: head"> </head>
                
                <body>
                    <header th:insert="fragments/header.html :: header"> </header>
        
                        <div th:insert="fragments/header.html :: div.sidenav"></div>
                
                        <div id="corps" class="no">
                            <!--code here-->
                         <p class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></p>
                         <p class="alert alert-danger" role="alert" th:if="${msg2}"th:utext="${msg2}"></p> 
                       
                        <p th:utext="${username}"></p>

                        <div>My Top</div>    

                        <div th:if="${not #lists.isEmpty(topcreator)}">

                            <div class="box" th:each="topcreator : ${topcreator}">
                              <img th:src="@{${topcreator.link}}"/>
                              <a th:text="'Titre '+${topcreator.titre}" th:href="@{/topresult/__${topcreator.id}__}"></a>
                              <div th:text="'Points '+${topcreator.point}"></div>
                            </div>
                  
                        </div>




                        <div>History</div> 

                        


                        <div>User Information</div>
                        <form class="form-horizontal" role="form" method="POST" th:action="@{/changePassword}">
                            <input type="text" name="oldPassword" class="form-control" id="oldPassword" placeholder="Password">
                            <input type="text" name="newPassword" class="form-control" id="newPassword" placeholder="New Password">
                            <button type="submit" class="submit" align="center">Change Password</button>
                        </form>

                        <form class="form-horizontal" role="form" method="POST" th:action="@{/changeEmail}">
                            <p th:utext="${usermail}">Current email </p>
                            <input type="email" name="newEmail" class="form-control" id="newEmail" placeholder="New Email">
                            <button type="submit" class="submit" align="center">Change Email</button>
                        </form>



                           
                        </div>
                    
                    <footer th:insert="fragments/header.html :: footer"> </footer>
                        
                </body>
          
    </html>