<!DOCTYPE html>
    <html  xmlns:th="http://www.thymeleaf.org">
          
                <head th:insert="fragments/header.html :: head"> </head>
                
                <body>
                    <header th:insert="fragments/header.html :: header"> </header>
        
                        <div th:insert="fragments/header.html :: div.sidenav"></div>
                
                        <div id="corps" class="no">
                            <!--code here-->
                         <p class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}"></p>
                         <p class="alert alert-danger" role="alert" th:if="${msg2}"th:utext="${msg2}"></p> 
                       
                        <p th:utext="${username}"></p>
                        <p th:utext="${details}"></p>

                        <form class="form-horizontal" role="form" method="POST" th:action="@{/changePassword}">
                            <input type="text" name="oldPassword" class="form-control" id="oldPassword" placeholder="Password">
                            <input type="text" name="newPassword" class="form-control" id="newPassword" placeholder="New Password">
                            <button type="submit" class="submit" align="center">Change Password</button>
                        </form>



                           
                        </div>
                    
                    <footer th:insert="fragments/header.html :: footer"> </footer>
        
                </body>
          
    </html>