
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

        <head th:insert="fragments/header.html :: head"> </head>

            

        <body>
            <header th:insert="fragments/header.html :: header"> </header>

                <div th:insert="fragments/header.html :: div.sidenav"></div>
        
                <div id="corps" class="no">
                    <!--code here-->
                    <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                    </div>
                
                        <form class="form-horizontal" role="form" method="POST" th:action="@{/register}" th:object="${user}">

                        <input type="text" th:field="*{username}" class="form-control" id="username"placeholder="User Name" required autofocus>
                        <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password" required>
                        <button type="submit" class="submit" align="center">Register</button>
        
                                <td>
                                    <a href="index">Home</a>
                                </td>
        
                       </form>>
                </div>
            
            <footer th:insert="fragments/header.html :: footer"> </footer>

        </body>

</html>