
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

        <head th:insert="fragments/header.html :: head"> </head>

            

        <body>
            <header th:insert="fragments/header.html :: header"> </header>

                <div th:insert="fragments/header.html :: div.sidenav"></div>
        
                <div id="corps" class="no">
                    <!--code here-->
                    <form method="post" th:action="@{/register}" th:object="${registerForm}">

                        <input class="un" type="text" align="center" placeholder="pseudo" name="pseudo">
                        <input class="un" type="text" align="center" placeholder="password" name="password"> 
                        <button type="submit" class="submit" align="center">Register</button>
        
                                <td>
                                    <a href="index">Home</a>
                                </td>
        
                    </form>>
                </div>
            
            <footer th:insert="fragments/header.html :: footer"> </footer>

        </body>

</html>