<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:insert="fragments/header.html :: head"> </head>

  <body>
      <header th:insert="fragments/header.html :: header"> </header>

        <div th:insert="fragments/header.html :: div.sidenav"></div>

        <div id="corps" class="no">

         <div th:text="*{createDTO.top.titre}"></div>

         <div th:each="question, itemStat : {createDTO.questionList}">
            <div><p th:text="{createDTO.questionList[${itemStat.index}].point}" ></p></div>
            <div><p th:text="{createDTO.questionList[${itemStat.index}].titre}" ></p></div>
            <div th:id="{createDTO.questionList[${itemStat.index}].id}"><p th:text="*{createDTO.questionList[${itemStat.index}].link}" ></p></div>
         </div>




        </div>
      <footer th:insert="fragments/header.html :: footer"> </footer>

  </body>
</html>