<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:insert="fragments/header.html :: head"> </head>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
  <script type="text/javascript">
    function doAjax(id,i){
      console.log(id)
      console.log(i)
      $.ajax({
        type:"POST",
        url:'/Addvote/'+id+'/'+i,
        data: 'id='+id,
        success:console.log('fonctionne')
      });
    }
  
  </script>

  <body>
      <header th:insert="fragments/header.html :: header"> </header>

        <div th:insert="fragments/header.html :: div.sidenav"></div>

        <div id="corps" class="no">
          
          <div th:text="*{createDTO.top.titre}"></div>

          
         <div th:each="question, itemStat : *{createDTO.questionList}">
            <div><p th:text="*{createDTO.questionList[__${itemStat.index}__].point}" ></p></div>
            <div><p th:text="*{createDTO.questionList[__${itemStat.index}__].titre}" ></p></div>
            <div th:id="*{createDTO.questionList[__${itemStat.index}__].id}"><p th:text="*{createDTO.questionList[__${itemStat.index}__].link}" ></p></div>
         </div>
         



        </div>
      <footer th:insert="fragments/header.html :: footer"> </footer>

  </body>
</html>
