<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:insert="fragments/header.html :: head"> </head>
  <script type="text/javascript">
    function doAjax(id){
      console.log(id)
      $.ajax({
        type:"POST",
        url
      })
    }
  
  </script>

  <body>
      <header th:insert="fragments/header.html :: header"> </header>

        <div th:insert="fragments/header.html :: div.sidenav"></div>

        <div id="corps" class="no">
          <!--code here-->
          
          <div th:text="*{createDTO.top.titre}"></div>
          
          <div th:each="question, itemStat : *{createDTO.questionList}">
            <div><p th:text="*{createDTO.questionList[__${itemStat.index}__].titre}" ></p></div>
            <div onclick="doAjax(/*[[*{createDTO.questionList[__${itemStat.index}__].id}]]*/)" th:id="*{createDTO.questionList[__${itemStat.index}__].id}"><p th:text="*{createDTO.questionList[__${itemStat.index}__].link}" ></p></div>
            <button th:onclick="'javascript:doAjax(' + *{createDTO.questionList[__${itemStat.index}__].id} + ');'"></button>
          </div>
        </div>
      <footer th:insert="fragments/header.html :: footer"> </footer>

  </body>
</html>
