<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:insert="fragments/header.html :: head"> </head>
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
  <script type="text/javascript">
    function doAjax(id,int){
      console.log(id)
      console.log(int)
      $.ajax({
        type:"POST",
        url:'/Addvote/'+id+'',
        data: 'id='+id,
        success:console.log('fonctionne')
      });
    }
  
  </script>

  <body>
      <header th:insert="fragments/header.html :: header"> </header>

        <div th:insert="fragments/header.html :: div.sidenav"></div>

        <div id="corps" class="no">
          <!--code here-->
          
          <div th:text="*{createDTO.top.titre}"></div>
          
         <!--<div th:each="question, itemStat : *{createDTO.questionList}">
            <div><p th:text="*{createDTO.questionList[__${itemStat.index}__].titre}" ></p></div>
            <div th:id="*{createDTO.questionList[__${itemStat.index}__].id}"><p th:text="*{createDTO.questionList[__${itemStat.index}__].link}" ></p></div>
            <button th:onclick="'javascript:doAjax(' + *{createDTO.questionList[__${itemStat.index}__].id} + ');'" ></button>
          </div>-->

          <div><p th:text="*{createDTO.questionList[0].titre}" ></p></div>
          <div th:id="*{createDTO.questionList[0].id}"><p th:text="*{createDTO.questionList[0].link}" ></p></div>
          <button th:onclick="'javascript:doAjax(' + *{createDTO.questionList[0].id} + ',0);'" ></button>

          <div><p th:text="*{createDTO.questionList[1].titre}" ></p></div>
          <div th:id="*{createDTO.questionList[1].id}"><p th:text="*{createDTO.questionList[1].link}" ></p></div>
          <button th:onclick="'javascript:doAjax(' + *{createDTO.questionList[1].id} + ',1);'" ></button>

        </div>
      <footer th:insert="fragments/header.html :: footer"> </footer>

  </body>
</html>
