nav{
    background-color: #eec923;
    height: 60px;
}

.question{
  display: flex;
  flex-direction: column;
  width: 50vh;
  align-content: flex-start;
}

#corps{
  margin-top: 60px;
}

body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

footer{
      background-color:black;
      height: 200px;
  }

#corps{
    flex: 1;
    transition: margin-left .5s;
  }
.navbar{
  justify-content: space-between;
}
nav input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

nav  button {
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
nav .search-container button{
  float: right;
}
#search-bar{
  width: 100%;
}
.menu {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.box img{
  width: 150px;
  height: auto;
}
