@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');
body{
  font-family: 'Roboto';
}

nav{
    background-color: #eec923;
    height: 60px;
}

.question{
  display: flex;
  flex-direction: column;
  width: 50vh;
  align-content: flex-start;
}

#corps{
  margin-top: 60px;
  background-image: url('../images/background.png');
  padding-bottom: 15vh;
}

body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

footer{
      background-color:black;
      height: 200px;
  }

#corps{
    flex: 1;
    transition: margin-left .5s;
  }
.navbar{
  justify-content: space-between;
}
nav input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

nav  button {
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
nav .search-container button{
  float: right;
}
#search-bar{
  width: 100%;
}
.menu {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.top img{
  width: 150px;
  height: auto;
}

.sidenav div a {
  border-left: 4px solid;
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 10px 20px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  margin-bottom: 3px;
}

.sidenav div a:hover{
  background: #222;
  border-left: 30px solid;
}

.display-4 span{
  font-weight: 400;
}
.display-4{
  font-size: 2.5rem;
  letter-spacing: 7px;
  font-weight: 200;
  margin-left: 2.5rem;
}

.display-5{
  font-size: 2.5rem;
  letter-spacing: 7px;
  font-weight: 200;
  color: white;
  
}

.jumbotron{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 1.5rem 1.5rem;
  background-color: rgba(84,110,122 ,0.6);
  color: white;
  display: flex;
}
.container{
  padding-right: 40px;
  padding-left: 40px;
}
.jumbotron img{
  margin-left: 2rem;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:22px}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #3399FF; }

.cont{
  width: 80%;
  margin: auto;
  
  display: flex;
  flex-direction: column;
  align-content: space-around;

  margin-bottom: 10%;
  margin-top: 5%;
}
.row{
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 15px;
}

.box{
  height: 180px;
  width: 100vh;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.box:hover, .box:focus, .box:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border: #eec923 solid 4px;
}

.text{
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}

@media (min-width: 768px){
  .classement{
    width: 65%;
  }
}


.classement{
  display: flex;
  align-items: stretch;
  background-color:rgba(84,110,122 ,0.6);
  height: 20vh;
  border-radius: 1rem;
  padding: 0;
  border: 2px solid white;
  margin-bottom: 50px;
}

.numero{
  width: 10%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.info{
  display: flex;
  width: 80%;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.info div{
  padding: 0;
}

.info div:nth-child(1){
  width: 30%;
  display: flex;
  padding: 10px;
}

.info div:nth-child(1) div{
  /*border-radius: 50%;*/
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.info div:nth-child(2){
  width: 70%;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items:center;
  padding-left: 3%;
}

.action{
  width: 10%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.action a {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}

.action a:nth-child(1){
  background-color: #689F38;
  border-top-right-radius: 1rem;
}

.action a:nth-child(2){
  background-color: #D84315;
  border-bottom-right-radius: 1rem;
}

